<footer class="footer">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 40" class="footer-ge">
    <path
      d="M1 26.89S196.38 2.09 336 1.58c146.52-.53 239.05 20.15 385 25.31C861.03 31.85 930.91 0 1071.5 0S1441 26.89 1441 26.89V140H1V26.89Z"
      style="fill: #f7f9f7"
    />
  </svg>
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-column">
        <h2>Kundservice</h2>
        <ul>
          <li><a href="/faq">Frågor & svar</a></li>
          <li><a href="#">Kontakta oss</a></li>
          <li><a href="#">Köpvillkor</a></li>
          <li><a href="#">Återförsäljare</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h2>Läs mer</h2>
        <ul>
          <li><a href="#">Om oss</a></li>
          <li><a href="#">CSR</a></li>
          <li><a href="#">Hållbarhet</a></li>
          <li><a href="#">Stanley Stella</a></li>
          <li><a href="#">Nyheter</a></li>
          <li><a href="/test">Jobba hos oss</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h2>Följ oss</h2>
        <div class="social-icons">
          <a href="#" aria-label="Facebook">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 800" fill="#052900">
              <path d="M800 109.06v581.89c0 60.23-48.83 109.06-109.06 109.06H109.06C48.83 800.01 0 751.18 0 690.95V109.06C0 48.83 48.83 0 109.06 0h581.89c60.23 0 109.06 48.83 109.06 109.06ZM690.83 72.82c20.08 0 36.35 16.28 36.35 36.35v581.66c0 20.08-16.28 36.35-36.35 36.35H508.72V473.32h75.59c15.67 0 29.58-10.03 34.54-24.9L635 399.97c5.88-17.65-7.26-35.89-25.86-35.89H508.72V291.2c0-19.99 16.36-36.35 36.35-36.35H618c20.08 0 36.35-16.28 36.35-36.35v-24.94c0-11.74-7.51-22.27-18.89-25.27-47.73-12.57-90.34-12.57-90.34-12.57-91.02 0-145.64 62.78-145.64 117.31v91.05h-71.87c-20.08 0-36.35 16.28-36.35 36.35v36.52c0 20.08 16.28 36.35 36.35 36.35h71.87v253.86H109.17c-20.08 0-36.35-16.28-36.35-36.35V109.17c0-20.08 16.28-36.35 36.35-36.35h581.66Z" style="fill:#052900;fill-rule:evenodd"/>
          </svg>
          </a>
          <a href="#" aria-label="LinkedIn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 800" fill="#052900">
              <path d="M674.08 800.03h-548.1C56.53 800.03.03 743.53.03 674.08v-548.1C.03 56.53 56.53.03 125.98.03h548.1c69.45 0 125.95 56.5 125.95 125.95v548.1c0 69.45-56.5 125.95-125.95 125.95ZM125.98 70.12c-30.8 0-55.86 25.06-55.86 55.86v548.1c0 30.8 25.06 55.86 55.86 55.86h548.1c30.8 0 55.86-25.06 55.86-55.86v-548.1c0-30.8-25.06-55.86-55.86-55.86h-548.1Zm107.25 597.72c.23 0 .48-.25.48-.48v-369.5a.48.48 0 0 0-.48-.48H131.06c-.33.29-.67.7-.81.99v369.47h102.98Zm434.02 0c.18-.23.33-.53.33-.7V417.87c0-43.56-12.16-76.54-36.16-98.02-22.94-20.54-56.74-30.95-100.45-30.95s-70.8 9.81-92.34 31.81l-25.75 26.3V310.2c0-2.51 0-9.36-.86-12.82h-97.44c-.32.29-.64.68-.77.97V666.4c.27.45.74 1.02 1.18 1.44h101.8c.23 0 .48-.25.48-.48V469.27c0-29.55 4.94-50.65 15.54-66.41 13.29-19.74 34.94-29.75 64.38-29.75 24.71 0 42.09 6.66 53.14 20.35 9.54 11.83 13.79 27.85 13.79 51.94v221.84c.04.17.14.4.26.6h102.87ZM215.11 212.99c10.65-10.41 16.51-24.34 16.51-39.23 0-30.67-25.91-56.57-56.57-56.57s-54.21 25.91-54.21 56.57c0 15 5.67 29 15.96 39.41 10.18 10.31 23.77 15.98 38.25 15.98s29.39-5.74 40.06-16.16Z" style="fill:#052900"/>
          </svg>
          </a>
          <a href="#" aria-label="Instagram">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 800" fill="#052900">
              <path d="M673.92 800h-548.1C56.37 800-.13 743.49-.13 674.05V125.94C-.13 56.5 56.37 0 125.82 0h548.1c69.45 0 125.95 56.5 125.95 125.95v548.1c0 69.45-56.5 125.95-125.95 125.95ZM125.82 70.08c-30.8 0-55.86 25.06-55.86 55.86v548.1c0 30.8 25.06 55.86 55.86 55.86h548.1c30.8 0 55.86-25.06 55.86-55.86v-548.1c0-30.8-25.06-55.86-55.86-55.86h-548.1Zm274.02 235.74c-123.38 2.11-123.36 185.64 0 187.73 123.38-2.11 123.36-185.64 0-187.73Zm243-87.22c-46.84-98.69-163.09-73.68-275.86-76.94-118.63 1.03-159.62-4.92-210.09 76.93-20.62 28.36-14.43 150.19-15.36 214.28 1.03 118.64-4.92 159.62 76.93 210.09 28.36 20.62 150.19 14.43 214.28 15.36 78.92 0 118.38 0 148.52-15.36 81.84-50.58 75.87-91.38 76.94-210.09-.94-64.32 5.1-185.62-15.36-214.28Zm-243 321.88c-185.07-3.16-185.05-278.45 0-281.59 185.07 3.16 185.04 278.45 0 281.59Zm140.79-258.12c-30.85-.53-30.84-46.41 0-46.93 30.84.53 30.84 46.41 0 46.93Z" style="fill:#052900"/>
          </svg>
          </a>
          <a href="#" aria-label="Youtube">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 800" fill="#052900">
              <path d="M674.05 800h-548.1C56.5 800 0 743.5 0 674.05v-548.1C0 56.5 56.5 0 125.95 0h548.1C743.5 0 800 56.5 800 125.95v548.1C800 743.5 743.5 800 674.05 800ZM125.95 70.09c-30.8 0-55.86 25.06-55.86 55.86v548.1c0 30.8 25.06 55.86 55.86 55.86h548.1c30.8 0 55.86-25.06 55.86-55.86v-548.1c0-30.8-25.06-55.86-55.86-55.86h-548.1Zm222 396.31V321.83c51.47 24.22 91.33 47.62 138.47 72.83-38.88 21.57-87 45.75-138.47 72.14m286.9-217.07c-8.88-11.71-24.01-20.8-40.12-23.82-47.35-8.98-342.73-9.01-390.06 0-12.92 2.42-24.42 8.27-34.3 17.37-41.64 38.65-28.59 245.88-18.55 279.45 4.22 14.53 9.68 25.01 16.55 31.89 8.85 9.09 20.97 15.36 34.89 18.16 38.98 8.07 239.83 12.58 390.65 1.21 13.9-2.42 26.2-8.88 35.9-18.37 38.5-38.49 35.87-257.37 5.04-305.9" style="fill:#052900"/>
          </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>
        &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        Gröna Tryck. Alla rättigheter förbehållna.
      </p>
    </div>
  </div>
</footer>
