<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Har du några frågor till oss?" />
    <title>Gröna Tryck - FAQ</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/swiper.css" />
    <link rel="stylesheet" href="/static/popup.css" />
  </head>
  <header>
    <%- include('partials/navbar') %>
  </header>
  <body>

    <section>
        <div class="faq-container">
            <div class="hallbarhet-accordions">
                <div class="text-block">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 367 58">
                        <path d="M12.26 40.8c.38.08.77.15 1.13.23-.71.17-1.78.18-3.02.17 13.63 1.56 32.33.51 44.51-2.29-6.12-3.33-17.62-3.89-26.82-5.29 1.37.24 2.8.49 4.16.73-2.05-.2-4.08-.42-6.37-.43.25.14.54.31.79.45-9.8-2.92-37.93 3.45-14.39 6.42Zm13.07 4.57c-4.41-.68-8.73-.83-12.94-1.78l.32 1.26c2.11-1.74 28.49-1.99 15.5-4.22-4.8-1.99-41.65 1.59-19.91 4.98 5.61.1 6.1-1.84 8.99-1.5l-1.47.33c1.98-1.07 7.64-1.5 10.69-1.63-1.02-1.12-2.5-2.45-4.13-1.68.02 1.19-24.79 2.4-13.42 4.36-.35-.07-.7-.14-1.04-.2 4.13-.58 17.6 2.14 17.41.09Zm200.48 10.64c15.43.77 31.2 1.71 46.35.53-14.07.53-35.36-.92-46.35-.53Zm114.45-22.86c-2.53.71-4.66 1.7-6.94 2.17-32.72 11.83-70.85 11.23-105.99 13.06 2.4 1.39-4.33 1.04-5.52 1.01 30.76 2.54 61.84-1.08 91.67-7.04-1.7 1.25-5.71 1.63-8.19 2.62-51.99 15.25-107.26 10.56-160.66 7.5-11.05-2.76-124.68-2.81-97.16-13.86-9.97-.4-25.01-3.84-30.23-9.53-7.92-1.52-5.24-3.43-.99-7.28-1.7-.91-2.54-1.89-1.25-2.99-1.95-.55.94-1.12 1.76-1.08-3.15-1.57-14.76.36-13.08-3.93-2.65-.06-4.86-.62-2.86-1.83 1.48-1.13 5.33.45 5 .37.38-.44.77-.28 1.14.07l-.35-.4 1.29.2-1.49-.3c2.85.02 5.05 0 6.72-.17 6.73.3 12.89-.58 21.06-.83-7.3-2.71-17.97-.95-25.98-2.34 20.12-4.95 42.91-1.1 63.56.79l-.57-.22c1.15.17 2.31.37 3.46.52C59.31 6.01 42.61 6.4 27.52 3.24c19.77-2 39.72 1.68 56.39 4.62-.57-.23-1.11-.44-1.68-.68 2.1.27 3.16.83 5.05 1.16-.21-.26-.42-.54-.63-.81 15.96 1.41 29.42 4.35 45 4.25-1.61-.23-3.2-.47-4.81-.7 34.15 3.68 63.39 10.11 96.51 9.91-13.74 1.4-28.83-.25-43.29-.74 59.95 9.04 122.57 3.02 179.58-15.08-36.69 18.34-83.31 21.43-125.59 20.57.33.49-.24.78-1.01 1.06 38.65-.04 79.56-.5 116.79-12.38-6.79 3.44-15.3 5.4-22.98 7.61 3.18.18 2.86 1.54.09 2.73 1.14-.06 6.92-1.8 7.66-1.02-16.44 4.72-34.96 6.22-52.16 8.36 27.22 1.57 61.58-11.33 84.66-16.78-7.34 2.42-15.42 5-22.9 6.95 1.4.12-2.05 1.03-1.19.31-14.4 3.83-29.08 6.82-43.82 9.18 12.64-.79 39.42-6.96 44.47-7.72 16.72-.53-22.05 7.44-25.63 8.26 11.93-1.23 23.92-4.6 35.43-6.45-25.56 10.27-54.4 11.26-81.23 17.54 22.68-.43 44.03-6.71 65.92-11.39-17.83 5.47-37.32 8.97-55.62 11.73 19.1-1.32 42.11-6.65 57.71-10.58ZM56.54 15.72c-.16-.06-.29-.1-.4-.15.93.02 2.57.8 3.38 1.28 0 0-1.5-.56-2.98-1.13ZM31.1 18.44h.01c-.67-.3-1.15-.52-1.15-.52.47.21.83.38 1.14.52Zm160.28 3.82c-8.41-.64-16.76-1.58-25.04-2.91 8.41.39 16.65 1.89 25.05 2.91h-.01ZM39.61 11.75c7.62 2.72 15.29 1.62 23.05 2.69-.43-.56 2.01-.16 2.54-.27-8.4-.96-17.24-1.66-25.59-2.42ZM8.59 13.22c-.13-.04-.24-.07-.39-.1l.81-.52s-.2.27-.42.62Zm-1.26.87c.21 0 .41.03.64.04-.22.19-.42.13-.64-.04Zm5.86.39c-.35-.12-.56-.2-.83-.24l.83.24Zm4.54 14.03 2.13-2.44-2.32 2.34.19.09Z" style="fill:#B4C3B2"/>
                    </svg>
                    <h2 class="heading-m">Frågor och Svar</h2>
                </div>

                <div class="hallbarhet-accordion">
                    <h2 class="hallbarhet-accordion-header" aria-expanded="false" aria-controls="content1">
                        Hur går en beställning till?
                    </h2>
                    <div class="hallbarhet-accordion-content" id="content1">
                        <div class="text-block">
                            <p class="body-text">
                                Du kan antingen fylla i kontaktformulären (finns i botten inne på varje produkt) eller så kan du maila oss på kontakt(a)gronatryck.se. Vi finns även tillgängliga på telefon 090-131340. Om du befinner dig i närheten av Umeå så boka gärna ett möte med oss i vårt showroom. Säg vad du är intresserad av så återkommer vi med offerter. Om någon av offerterna känns bra så återkommer vi med en korrektur orderbekräftelse. När du godkänner dessa sätter vi igång ordern, då beställs produkterna till tryckeriet och trycks, packas och levereras till din dörr.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="hallbarhet-accordion">
                    <h2 class="hallbarhet-accordion-header" aria-expanded="false" aria-controls="content1">
                        Vad behöver vi av dig inför en order?
                    </h2>
                    <div class="hallbarhet-accordion-content" id="content1">
                        <div class="text-block">
                            <p class="body-text">
                                <ul class="body-text">
                                    <li>Färger och storlekar (vi kan rekommendera om du är osäker)</li>
                                    <li>Ditt motiv (gärna i filformatet .pdf eller .eps, men har du bara .jpg brukar vi kunna lösa det ändå)</li>
                                    <li>Eventuell deadline</li>
                                    <li>Faktura/leveransadress + mobilnummer för avisering</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="hallbarhet-accordion">
                    <h2 class="hallbarhet-accordion-header" aria-expanded="false" aria-controls="content1">
                        Hur kommer mitt färdiga tryck se ut?
                    </h2>
                    <div class="hallbarhet-accordion-content" id="content1">
                        <div class="text-block">
                            <p class="body-text">
                                Vi skickar alltid en detaljerad korrektur med ditt tryck på vald produkt, antingen vet du själv exakt hur du vill ha det annars kommer vi gärna med förslag. I korrekturen ser du tydligt hur dina produkter kommer att se ut.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="hallbarhet-accordion">
                    <h2 class="hallbarhet-accordion-header" aria-expanded="false" aria-controls="content1">
                        Kan man beställa prover?
                    </h2>
                    <div class="hallbarhet-accordion-content" id="content1">
                        <div class="text-block">
                            <p class="body-text">
                                Självklart! Vi kan skicka ut upp till 3 prover per kund. Då vi själva inte har alla modeller, storlekar och färger på lager så skickas dessa ofta från våra klädmärkens huvudlager. Det gör att vi endast skickar prover från ett klädmärke. På våra produktbilder har vi en logotyp i högra hörnet och så länge dina prover har samma logotyp funkar det fint. Alla prover vi skickar ut kommer utan tryck, detta då förberedelserna inför 1 tryck kräver både mycket tid och resurser. Istället jobbar vi med tydliga korrekturer så du tydligt får se innan hur ditt tryck kommer se ut innan du godkänner ordern.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="hallbarhet-accordion">
                    <h2 class="hallbarhet-accordion-header" aria-expanded="false" aria-controls="content1">
                        Vad är minimumbeställning och kan jag blanda storlekar och plaggfärger?
                    </h2>
                    <div class="hallbarhet-accordion-content" id="content1">
                        <div class="text-block">
                            <p class="body-text">
                                Minimumbeställning är 25 tryck per motiv. Du kan blanda produkter inom samma tryckomgång, det betyder t.ex. att kan blanda 15 t-shirts, 5 huvtröjor och 5 sweatshirts (ej tygpåsar) så länge det är samma motiv. Storlekar, plaggfärger och modeller får blandas fritt, önskas extra färgbyte för tryckfärgen (t.ex. någa plagg har vita tryck och några har svarta tryck) kostar det 170 SEK per färg. För brodyr är minimum 10 st brodyrer, även här kan du blanda produkter inom samma brodyromgång.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="hallbarhet-accordion">
                    <h2 class="hallbarhet-accordion-header" aria-expanded="false" aria-controls="content1">
                        Vilka färger kan jag välja mellan och kan jag beställa kläder utan tryck?
                    </h2>
                    <div class="hallbarhet-accordion-content" id="content1">
                        <div class="text-block">
                            <p class="body-text">
                                Hos oss kan du välja upp till 8 tryckfärger i hela PMS-färgskalan, oftast har du din logotyp i PMS och då går vi direkt efter den. Har du den i CMYK eller RGB så hjälper vi dig ta fram den färg som matchar bäst. Genom screentryckt rastertryck kan vi även trycka fotomotiv. Det går även bra att beställa våra produkter utan tryck om så önskas.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="hallbarhet-accordion">
                    <h2 class="hallbarhet-accordion-header" aria-expanded="false" aria-controls="content1">
                        Vilket typ av tryck ska jag välja?
                    </h2>
                    <div class="hallbarhet-accordion-content" id="content1">
                        <div class="text-block">
                            <p class="body-text">
                                Vi trycker både med PVC- och ftalatfritt screentryck (vilket är den absolut mest kvalitativa tekniken inom textiltryck) och brodyr. Vi brukar endast rekommendera brodyr till pikéer, jackor och mössor, för andra textilprodukter brukar screentryck passa bäst. För giveaways och andra hårda produkter trycker vi med ftalatfria tampotryck eller lasergravyr.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="hallbarhet-accordion">
                    <h2 class="hallbarhet-accordion-header" aria-expanded="false" aria-controls="content1">
                        Vad är schablonkostnad och brodyrkort?
                    </h2>
                    <div class="hallbarhet-accordion-content" id="content1">
                        <div class="text-block">
                            <p class="body-text">
                                En shablonkostnad tas ut för förberedelserna som krävs för att trycka varje färg. Kallas också ofta för ramkostnad eller stencilkostnad. Dessa kostar 350 SEK per färg. Brodyrkartor är en engångskostnad där man för hand bestämmer hur brodyrmaskinen lägger stygnen. Denna kostar 825 SEK per motiv.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="hallbarhet-accordion">
                    <h2 class="hallbarhet-accordion-header" aria-expanded="false" aria-controls="content1">
                        Jag tänkte lägga en order men är inte riktigt säker på vilka storlekar som blir bäst?
                    </h2>
                    <div class="hallbarhet-accordion-content" id="content1">
                        <div class="text-block">
                            <p class="body-text">
                                Vi brukar ha en bra uppfattning om standardstorlekar beroende på användningsområde. Kontakta oss och säg vad plaggen ska användas till så hjälper vi dig. Gäller det t.ex. jackor kan det vara bra att maila runt till de anställda för att vara säker på vilka storlekar de behöver. För att få en bättre bild av storlekarna på våra produkter får du gärna läsa vår storleksguide inne på produktsidorna.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="faq-ge">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 426 290.5">
                    <path d="M58.95 229.79C35.73 198.3-6.42 151.26.96 116.2 7.13 86.9 50.88 27.27 76.62 8.29c25.74-18.98 71.96 10.78 101.77 13.55 35.68 3.31 68.72 20.58 91.94 52.07 23.22 31.49 5.71 88.65-1.67 123.71-6.17 29.3-44.55 32.85-70.29 51.83-25.74 18.98-45.92 34.51-75.73 31.74-35.68-3.31-40.47-19.92-63.69-51.4Z" style="fill:#e5eae4"/>
                    <path d="M263.74 129.23c0 37.31 5.85 97.27-20.23 120-21.79 18.99-90.6 40-121.77 40s-50.21-49.01-72-68c-26.07-22.73-42-54.69-42-92s46.8-71.27 72.87-94c21.79-19 53.95 0 85.13 0s55.99-.5 77.77 18.5c26.07 22.73 20.23 38.19 20.23 75.5Zm111.59 109.12c2.36-7.12 5.03-18.94 11.49-21.61 5.4-2.23 19.99-1.85 26 .14 6.01 1.99 6.58 12.56 9.58 17.58 3.59 6 4.64 13.12 2.27 20.24-2.36 7.12-13.53 10.61-19.99 13.29-5.4 2.23-10.4-3.45-16.41-5.44-6.01-1.99-10.82-3.48-13.82-8.5-3.59-6-1.48-8.58.88-15.7Zm-71.61 38.3c-9.07-5.84-24.57-13.78-25.97-23.74-1.17-8.32 4.59-28.49 9.52-36.15 4.93-7.65 19.85-4.66 27.9-7.03 9.64-2.84 19.93-1.75 29 4.09s9.93 22.64 11.33 32.59c1.17 8.32-8.52 13.24-13.45 20.89s-8.73 13.82-16.79 16.19c-9.65 2.84-12.48-1.01-21.55-6.85Z" style="fill:#b4c3b2"/>
                    <path d="M146.92 107.94c9.13 0 16.43 2.39 21.89 7.17 5.55 4.78 8.32 11.52 8.32 20.22 0 8.02-2.65 14.29-7.94 18.82-5.21 4.44-12.12 6.7-20.74 6.78l-.64 9.6h-19.2l-.64-23.81h7.68c6.57 0 11.56-.81 14.98-2.43 3.5-1.62 5.25-4.57 5.25-8.83 0-2.99-.81-5.33-2.43-7.04s-3.88-2.56-6.78-2.56c-3.07 0-5.46.9-7.17 2.69-1.71 1.71-2.56 4.05-2.56 7.04h-20.61c-.17-5.2.9-9.9 3.2-14.08 2.39-4.18 5.89-7.47 10.5-9.86 4.69-2.47 10.32-3.71 16.9-3.71Zm-8.45 95.87c-3.84 0-7-1.11-9.47-3.33-2.39-2.3-3.58-5.12-3.58-8.45s1.2-6.27 3.58-8.58c2.48-2.3 5.63-3.46 9.47-3.46s6.83 1.15 9.22 3.46c2.48 2.3 3.71 5.16 3.71 8.58s-1.24 6.14-3.71 8.45c-2.39 2.22-5.46 3.33-9.22 3.33Z" style="fill:#f7f9f7"/>
                </svg>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>
    <%- include('partials/chatbox') %>
      <script src="/static/swiper.js"></script>
      <script src="/static/script.js"></script>

    </body>
  </html>