<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Gröna Tryck är ett GOTS certifierat företag" />
    <title>Gröna Tryck - GOTS</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/popup.css" />
  </head>
  <header>
    <%- include('partials/navbar') %>
    <div class="hero">
      <img
        src="/static/images/Hero/100/webp/gots.webp"
        srcset="
          /static/images/Hero/75/webp/gots_75.webp 1279w,
          /static/images/Hero/100/webp/gots.webp   1280w,
          /static/images/Hero/75/jpg/gots_75.jpg   1279w,
          /static/images/Hero/100/jpg/gots.jpg     1280w
        "
        sizes="(min-width: 1280px) 1280px, 100vw"
        alt="GOTS"
      />
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 40">
        <path
          d="M1 26.89S196.38 2.09 336 1.58c146.52-.53 239.05 20.15 385 25.31C861.03 31.85 930.91 0 1071.5 0S1441 26.89 1441 26.89V140H1V26.89Z"
          style="fill: #fff"
        />
      </svg>
    </div>
  </header>
  <body>
    <section>
      <div class="progress-section">
        <a href="/hallbarhet">Hållbarhet</a> <span>/</span>
        <a href="/gots">GOTS</a>
      </div>
      <div class="text-block">
        <h2 class="heading-m">
          Gröna Tryck är en GOTS-Certifierad återförsäljare
        </h2>
        <p class="body-text">
          Global Organic Textile Standard (GOTS) är en världsledande standard
          för kontroll av organiska fibrer,inklusive ekologiska och sociala
          kriterier, uppbackad av oberoende tredjepartscertifiering av hela
          textilförsörjningskedjan. För oss är oberoende kontrollorgan viktiga
          för att säkerställa innehållet i våra kläder och tryck. <br /><br />
          Gröna Tryck är en certifierad återförsäljare med licensnummer
          00251569.<br /><br />Se vårt certifikat här:
          <a href="">Grona Tryck GOTS 2024</a>
        </p>
      </div>
    </section>

    <section>
      <div class="gots-container">
        <div class="gots-item">
          <img
            src="/static/images/infographics-folder/sustainability/organic-fibers.jpg"
            alt=""
          />
          <p class="body-text">
            Organiska fibrer är naturliga fibrer som odlas utan användning av
            syntetiska bekämpningsmedel (som insekticider), eller herbicider och
            GMO (Genetic Modified Organisms) enligt principerna för ekologiskt
            jordbruk. Ekologiskt jordbruk är en produktionsprocess som
            upprätthåller hälsan hos ekosystem, jordar och människor.
          </p>
        </div>

        <div class="gots-item">
          <img
            src="/static/images/infographics-folder/sustainability/eco-social-criteria.jpg"
            alt=""
          />
          <p class="body-text">
            Standarden ställer krav på arbets- och sociala villkor som är
            likvärdiga med ledande sociala hållbarhetsstandarder. GOTS sociala
            kriterier, baserade på nyckelnormerna från Internationella
            arbetsorganisationen (ILO), FN:s vägledande principer för företag
            och mänskliga rättigheter (UNGPs) och Organisationen för ekonomiskt
            samarbete och utveckling (OECD), måste uppfyllas av alla
            processorer, tillverkare och handlare.
          </p>
        </div>

        <div class="gots-item">
          <img
            src="/static/images/infographics-folder/sustainability/all-processing-stages.jpg"
            alt=""
          />
          <p class="body-text">
            Odling av ekologiska fibrer, den initiala produktionen, omfattas av
            alla internationella eller nationella standarder för ekologisk
            odling som är godkänd i IFOAM Family of Standards. Alla steg i
            bearbetning, tillverkning och handel med ekologiska textilier
            omfattas av GOTS. Alla måste vara certifierade enligt strikta
            ekologiska och sociala kriterier för att produkten ska bära
            GOTS-märkningen. På så sätt sätter GOTS stopp för greenwashing.
          </p>
        </div>

        <div class="gots-item">
          <img
            src="/static/images/infographics-folder/sustainability/third-party-certification.jpg"
            alt=""
          />
          <p class="body-text">
            Inspektion och certifiering på plats av processorer, tillverkare och
            handlare utförs av oberoende tredje parts GOTS-ackrediterade
            certifieringsorgan och utgör grunden för GOTS-övervakningssystemet.
            Det tjänar till att ge en trovärdig garanti för integriteten hos
            GOTS-certifierade textilier. GOTS har utvecklat ett eget
            ackrediteringssystem för denna godkännandeprocess samt för
            kontinuerlig övervakning av de godkända certifieringsorganen.
          </p>
        </div>
      </div>
    </section>

    <%- include('partials/footer') %> <%- include('partials/chatbox') %>
    <script src="/static/script.js"></script>
  </body>
</html>
