<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Gröna Tryck är ett tryckeri som bryr sig om miljön, här kan du läsa mer om hur vi jobbar mot att bli så miljövänliga som möjligt och även mer om våra certifikat"/>
    <title>Gröna Tryck - Miljö</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/popup.css" />
  </head>
  <header>
    <%- include('partials/navbar') %>
    <div class="hero">
      <img
        src="/static/images/Hero/100/webp/DJI_20241010094358_0007_D.webp"
        srcset="
          /static/images/Hero/75/webp/DJI_20241010094358_0007_D_75.webp 1279w,
          /static/images/Hero/100/webp/DJI_20241010094358_0007_D.webp   1280w,
          /static/images/Hero/75/jpg/DJI_20241010094358_0007_D_75.jpg   1279w,
          /static/images/Hero/100/jpg/DJI_20241010094358_0007_D.jpg     1280w
        "
        sizes="(min-width: 1280px) 1280px, 100vw"
        alt="Miljöbild"
      />
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 40">
        <path
          d="M1 26.89S196.38 2.09 336 1.58c146.52-.53 239.05 20.15 385 25.31C861.03 31.85 930.91 0 1071.5 0S1441 26.89 1441 26.89V140H1V26.89Z"
          style="fill: #fff"
        />
      </svg>
    </div>
  </header>
  <body>
    <section>
      <div class="progress-section">
        <a href="/hallbarhet">Hållbarhet</a> <span>/</span>
        <a href="/miljo">Miljö</a>
      </div>
      <div class="miljo-container">
        <div class="text-block">
          <h2 class="heading-m">Miljö</h2>
          <p class="body-text">
            Hur kan vi garantera att våra produkter är miljövänliga? Genom bland
            annat märkningar och tester som vi har valt ut noga bland oberoende
            och icke vinstdrivande kravmärkningar runt om i världen som arbetar
            med kvalitetskontroller för kvalitet, miljö och arbetsvillkor. Detta
            med oannonserade besök, krav på dokumentation och textiltester på
            ett så effektivt och genomskinligt sätt som möjligt.
          </p>
        </div>

        <div class="hallbarhet-accordions">
          <div class="hallbarhet-accordion">
            <h2
              class="hallbarhet-accordion-header"
              aria-expanded="false"
              aria-controls="content1"
            >
              Certifikat
            </h2>
            <div class="hallbarhet-accordion-content" id="content1">
              <div class="text-block">
                <h2 class="heading-s">Ekologiskt certifierad bomull</h2>
                <p class="body-text">
                  Begreppet ekologisk bomull innebär att bomullen måste odlas
                  utan några som helst kemiska bekämpningsmedel eller
                  konstgjorda gödslingsmedel. Genom att våra kläder har
                  oberoende ekologiska certifikat granskas alla kemikaliska
                  insatsmedel och färgämnen som används under hela
                  produktionskedjan, allt från råvara till slutprodukt. Det
                  innebär att tack vare certifieringsetiketter kan konsumenter
                  välja produkter där ett miljömässigt- och socialt ansvar
                  tagits genom hela kedjan och uppfyller miljömässiga och
                  toxikologiska kriterier.
                </p>
              </div>
              <div class="text-block">
                <h2 class="heading-s">EU Label</h2>
                <p class="body-text">
                  EU Ecolabel, tidigare känd som EU-blomman, är ett gemensamt
                  miljömärke för EU. Målet med märkningen är att lyfta fram
                  produkter med minskad påverkan på miljön under hela
                  livscykeln. I Sverige kan märkningen hittas på textilier, det
                  vill säga på en del av de kläder som finns till försäljning.
                  Märkningen garanterar att dessa kläder uppfyller stränga
                  miljö-, funktions- och kvalitetskrav. En tröja med märket EU
                  Ecolabel har tillexempel endast tvättats med tvätt- och
                  sköljmedel som är till 95 % biologiskt nedbrytbara.
                </p>
              </div>
              <div class="text-block">
                <h2 class="heading-s">OE blended</h2>
                <p class="body-text">
                  OE-Blended är en tredje parts verifiering för att verifiera
                  att en slutprodukt innehåller den exakta mängden av ett givet
                  organiskt odlat material. För Gröna Tryck ́s produkter handlar
                  det om ekologisk bomull+återvunnen PET, ekologisk
                  bomull+Modal/Tencel/Ecovero. Detta sker genom strikt
                  inspektion och verifiering av transaktionscertifiering. Detta
                  bevisar att det organiska materialet inte skadades när det
                  handlas. Normerna för organisk bomull är lika med de som krävs
                  i USDA: s organiska program för jordbrukare. För att påbörja
                  certifieringsprocessen måste intresserade företag först ansöka
                  genom ett certifieringsorgan som är ackrediterat enligt OE
                  Blended-standarderna. Efter lång inspektion kommer ett beslut
                  att fattas. Om det är ackrediterat, underkastas respektive
                  företag årliga kontroller.
                </p>
              </div>
              <div class="text-block">
                <h2 class="heading-s">Global Recycle Standard</h2>
                <p class="body-text">
                  Global Recycle Standard hjälper företag som vill verifiera det
                  återvunna innehållet i sina produkter (både färdiga och
                  mellanprodukter) och att verifiera ansvarsfullt socialt,
                  miljömässigt och kemisk praxis i deras produktion. GRS: s mål
                  är att definiera krav för att säkerställa exakta innehållskrav
                  och goda arbetsförhållanden och att skadliga miljö- och
                  kemiska effekter minimeras. Detta inkluderar företag inom
                  bomullsrensning, spinning, vävning och stickning, färgning,
                  tryckning och sömmar i mer än 50 länder.
                </p>
              </div>
              <div class="text-block">
                <h2 class="heading-s">Bluesign</h2>
                <p class="body-text">
                  Bluesign är ett globalt verktyg för alla delar inom
                  textilindustrins produktionsled. För att försäkra sig om att
                  produkterna är miljövänliga och utan hälsofarliga gifter, så
                  hjälper Bluesigns standard med hela designprocessen för att
                  garantera en miljövänlig slutprodukt. Bluesign stanard är
                  inget testinstitut utan är med redan i början av produktionen
                  för att kontrollera att varje steg är gjort med rätt hänsyn.
                  Från råmaterial till underleverantörer, till textiltillverkare
                  och återförsäljare ska alla möta deras kriterier.
                </p>
              </div>
            </div>
          </div>
          <div class="hallbarhet-accordion">
            <h2
              class="hallbarhet-accordion-header"
              aria-expanded="false"
              aria-controls="content1"
            >
              Material
            </h2>
            <div class="hallbarhet-accordion-content" id="content2">
              <div class="text-block">
                <h2 class="heading-s">100% Ekologisk Kompakt Bomull</h2>
                <p class="body-text">
                  100% Ekologisk Kompakt Bomull, Vävd Bomull vävt tyg framställs
                  genom sammanflätning av varpen (0 °) fiber och väft (90 °)
                  fiber i ett regelbundet mönster eller ”vävstil”. Tygets
                  integritet upprätthålls av mekanisk sammankoppling av fiber.
                </p>
              </div>
              <div class="text-block">
                <h2 class="heading-s">R-PET</h2>
                <p class="body-text">
                  R-PET står för Recycled PET (termoplast) och kommer oftast
                  från återvunna PET-flaskor. De mals först ner för att sen
                  smältas och pressas genom små hål för att skapa textiltrådar.
                  En vinterjacka kan t.ex. bestå av ett 50-tal PET-flaskor och
                  en tygpåse av ca 5 flaskor.
                </p>
              </div>
              <div class="text-block">
                <h2 class="heading-s">50 50 Ekologisk Bomull Modal</h2>
                <p class="body-text">
                  50% Ekologisk Bomull – 50% Modal Modal är en “konstgjord”
                  regenererad cellulosafiber. Modal är tillverkad av hållbart
                  odlad skogsplanteringar av bokträd. Blandad med Organisk
                  Bomull får tyget ett speciellt kallt, mjukt och ledigt
                  resultat.
                </p>
              </div>
              <div class="text-block">
                <h2 class="heading-s">50 50 Ekologisk Bomull Tencel</h2>
                <p class="body-text">
                  50% Ekologisk Bomull – 50% Tencel TENCEL kallas för den
                  revolutionära Future Botanic Fibre. I likhet med linne är den
                  konstgjord Lyocell, ett regenererad cellulosafiber tillverkad
                  av hållbart odlade eukalyptusskogar.
                </p>
              </div>
              <div class="text-block">
                <h2 class="heading-s">92 8 Ekologisk Bomull Ull</h2>
                <p class="body-text">
                  92% Ekologisk Bomull – 8% Ull Ekologisk bomull blandat med ull
                  skapar värme från ullen med mjukhet och komfort från bomull.
                  Detta ger en riktig vinterprodukt samtidigt som den har hög
                  kvalité av hållbarhet och stil.
                </p>
              </div>
              <div class="text-block">
                <h2 class="heading-s">95-5 Ekologisk Bomull Elastan</h2>
                <p class="body-text">
                  95% Ekologisk Bomull – 5% Elastan Bomull är ett mjukt,
                  fluffigt basfiber. Blandat med Elastan, känd för sin
                  exceptionella elasticitet, läggs det till en extra
                  flexibilitet, styrka och hållbarhet i tyget.
                </p>
              </div>
              <div class="text-block">
                <h2 class="heading-s">100 Ekologisk Bomull Single Jersey</h2>
                <p class="body-text">
                  100% Ekologisk Bomull Single Jersey. Bomull är det mest
                  förekommande materialet till tyg för kläder. Det är ett mjukt,
                  fluffigt basfiber som i sig är ren cellulosa. Ekologisk bomull
                  odlas utan användning av kemikalier eller genetiskt
                  modifierade organismer (GMO).
                </p>
              </div>
              <div class="text-block">
                <h2 class="heading-s">100 Ekologisk Bomull Slub</h2>
                <p class="body-text">
                  100% Ekologisk Bomull Slub. Slub Materialet består av en
                  bomullsgarn som har avsiktligt spunnits för att uppnå en
                  oregelbunden form (med tjockare sektioner längs garnet). Detta
                  skapar en växlande effekt på ytan.
                </p>
              </div>
              <div class="text-block">
                <h2 class="heading-s">100 Ekologisk Bomull Ultralight</h2>
                <p class="body-text">
                  100% Ultralätt Ekologisk Bomull & Bomull Ultralätt version av
                  ringspunnet kammad bomull som ger en lyxig känsla av att ha en
                  “andra hud”. Den är tillverkad av ultratunna och extra långa
                  stapel bomullsfiber.
                </p>
              </div>
            </div>
          </div>
          <div class="hallbarhet-accordion">
            <h2
              class="hallbarhet-accordion-header"
              aria-expanded="false"
              aria-controls="content1"
            >
              Licenser
            </h2>
            <div class="hallbarhet-accordion-content" id="content3">
              <div class="licenseLinks">
                <a
                  href="https://gronatryck.se/Organic-Content-Standard-v1.pdf"
                  target="_blank"
                  >OE-Blended</a
                >
                <a
                  href="https://gronatryck.se/criteria_for_bluesign_product_v2.0.pdf"
                  target="_blank"
                  >Bluesign</a
                >
                <a
                  href="https://gronatryck.se/STANDARD%20100%20by%20OEKO-TEX®%20-%20Standard.pdf"
                  target="_blank"
                  >Oeko-Tex 100</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('partials/footer') %> <%- include('partials/chatbox') %>
    <script src="/static/swiper.js"></script>
    <script src="/static/script.js"></script>
    >
  </body>
</html>
