<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Möt våran official dealer Stanley/Stella" />
    <title>Gröna Tryck - Stanley/Stella</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/popup.css" />
  </head>
  <header>
    <%- include('partials/navbar') %>
    <div class="heroStSt">
      <picture>
        <source
          media="(max-width: 1279px)"
          srcset="
            /static/images/Hero/50/webp/StanleyStella_AW24_Nature_Outerwear_Brooker_Trekker_03_50.webp,
            /static/images/Hero/50/jpg/StanleyStella_AW24_Nature_Outerwear_Brooker_Trekker_03_50.jpg
          "
          sizes="100vw"
        />

        <source
          media="(max-width: 1919px)"
          srcset="
            /static/images/Hero/75/webp/StanleyStella_AW24_Nature_Outerwear_Brooker_Trekker_03_75.webp,
            /static/images/Hero/75/jpg/StanleyStella_AW24_Nature_Outerwear_Brooker_Trekker_03_75.jpg
          "
          sizes="100vw"
        />

        <source
          media="(min-width: 1920px)"
          srcset="
            /static/images/Hero/100/webp/StanleyStella_AW24_Nature_Outerwear_Brooker_Trekker_03.webp,
            /static/images/Hero/100/jpg/StanleyStella_AW24_Nature_Outerwear_Brooker_Trekker_03.jpg
          "
          sizes="100vw"
        />

        <img
          src="/static/images/Hero/100/jpg/StanleyStella_AW24_Nature_Outerwear_Brooker_Trekker_03.jpg"
          alt="Stanley Stella"
        />
      </picture>
      <img
        src="/static/images/infographics-folder/stanleystella/StanleyStella_OfficialDealer-Logo-1500px_Light.png"
        alt=""
        id="StSt-logo"
      />
      <button class="heroBtn">Se Stanley/Stellas varor här</button>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 40">
        <path
          d="M1 26.89S196.38 2.09 336 1.58c146.52-.53 239.05 20.15 385 25.31C861.03 31.85 930.91 0 1071.5 0S1441 26.89 1441 26.89V140H1V26.89Z"
          style="fill: #fff"
        />
      </svg>
    </div>
  </header>
  <body>
    <section>
      <div class="text-block">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 367 58">
          <path
            d="M12.26 40.8c.38.08.77.15 1.13.23-.71.17-1.78.18-3.02.17 13.63 1.56 32.33.51 44.51-2.29-6.12-3.33-17.62-3.89-26.82-5.29 1.37.24 2.8.49 4.16.73-2.05-.2-4.08-.42-6.37-.43.25.14.54.31.79.45-9.8-2.92-37.93 3.45-14.39 6.42Zm13.07 4.57c-4.41-.68-8.73-.83-12.94-1.78l.32 1.26c2.11-1.74 28.49-1.99 15.5-4.22-4.8-1.99-41.65 1.59-19.91 4.98 5.61.1 6.1-1.84 8.99-1.5l-1.47.33c1.98-1.07 7.64-1.5 10.69-1.63-1.02-1.12-2.5-2.45-4.13-1.68.02 1.19-24.79 2.4-13.42 4.36-.35-.07-.7-.14-1.04-.2 4.13-.58 17.6 2.14 17.41.09Zm200.48 10.64c15.43.77 31.2 1.71 46.35.53-14.07.53-35.36-.92-46.35-.53Zm114.45-22.86c-2.53.71-4.66 1.7-6.94 2.17-32.72 11.83-70.85 11.23-105.99 13.06 2.4 1.39-4.33 1.04-5.52 1.01 30.76 2.54 61.84-1.08 91.67-7.04-1.7 1.25-5.71 1.63-8.19 2.62-51.99 15.25-107.26 10.56-160.66 7.5-11.05-2.76-124.68-2.81-97.16-13.86-9.97-.4-25.01-3.84-30.23-9.53-7.92-1.52-5.24-3.43-.99-7.28-1.7-.91-2.54-1.89-1.25-2.99-1.95-.55.94-1.12 1.76-1.08-3.15-1.57-14.76.36-13.08-3.93-2.65-.06-4.86-.62-2.86-1.83 1.48-1.13 5.33.45 5 .37.38-.44.77-.28 1.14.07l-.35-.4 1.29.2-1.49-.3c2.85.02 5.05 0 6.72-.17 6.73.3 12.89-.58 21.06-.83-7.3-2.71-17.97-.95-25.98-2.34 20.12-4.95 42.91-1.1 63.56.79l-.57-.22c1.15.17 2.31.37 3.46.52C59.31 6.01 42.61 6.4 27.52 3.24c19.77-2 39.72 1.68 56.39 4.62-.57-.23-1.11-.44-1.68-.68 2.1.27 3.16.83 5.05 1.16-.21-.26-.42-.54-.63-.81 15.96 1.41 29.42 4.35 45 4.25-1.61-.23-3.2-.47-4.81-.7 34.15 3.68 63.39 10.11 96.51 9.91-13.74 1.4-28.83-.25-43.29-.74 59.95 9.04 122.57 3.02 179.58-15.08-36.69 18.34-83.31 21.43-125.59 20.57.33.49-.24.78-1.01 1.06 38.65-.04 79.56-.5 116.79-12.38-6.79 3.44-15.3 5.4-22.98 7.61 3.18.18 2.86 1.54.09 2.73 1.14-.06 6.92-1.8 7.66-1.02-16.44 4.72-34.96 6.22-52.16 8.36 27.22 1.57 61.58-11.33 84.66-16.78-7.34 2.42-15.42 5-22.9 6.95 1.4.12-2.05 1.03-1.19.31-14.4 3.83-29.08 6.82-43.82 9.18 12.64-.79 39.42-6.96 44.47-7.72 16.72-.53-22.05 7.44-25.63 8.26 11.93-1.23 23.92-4.6 35.43-6.45-25.56 10.27-54.4 11.26-81.23 17.54 22.68-.43 44.03-6.71 65.92-11.39-17.83 5.47-37.32 8.97-55.62 11.73 19.1-1.32 42.11-6.65 57.71-10.58ZM56.54 15.72c-.16-.06-.29-.1-.4-.15.93.02 2.57.8 3.38 1.28 0 0-1.5-.56-2.98-1.13ZM31.1 18.44h.01c-.67-.3-1.15-.52-1.15-.52.47.21.83.38 1.14.52Zm160.28 3.82c-8.41-.64-16.76-1.58-25.04-2.91 8.41.39 16.65 1.89 25.05 2.91h-.01ZM39.61 11.75c7.62 2.72 15.29 1.62 23.05 2.69-.43-.56 2.01-.16 2.54-.27-8.4-.96-17.24-1.66-25.59-2.42ZM8.59 13.22c-.13-.04-.24-.07-.39-.1l.81-.52s-.2.27-.42.62Zm-1.26.87c.21 0 .41.03.64.04-.22.19-.42.13-.64-.04Zm5.86.39c-.35-.12-.56-.2-.83-.24l.83.24Zm4.54 14.03 2.13-2.44-2.32 2.34.19.09Z"
            style="fill: #b4c3b2"
          />
        </svg>

        <h2 class="heading-m">Stanley/Stella</h2>
        <p class="body-text">
          Gröna Tryck har samarbetat med Stanley/Stella sedan 2013, och 2021
          blev vi stolta över att utses till deras "Most Northern" Official
          Dealer och Selected Dealer Outerwear. Kläderna tillverkas med
          hantverksmässig precision och modern passform som passar
          organisationer, företag och designers. Sortimentet erbjuder
          säsongsanpassade färger och modeller med möjlighet till personlig
          anpassning – som tryck i nacken – för en unik känsla. <br /><br />
          Stanley/Stella producerar alltid med miljön och rättvisa arbetsvillkor
          i fokus, med material som ekologisk och återvunnen bomull, återvunnen
          polyester och Lenzing Modal. Produktionen kontrolleras noggrant genom
          oberoende kvalitetstester, och allt sys i Fairwear-certifierade
          fabriker. Hos oss får du kläder du kan vara stolt över, både för deras
          stil och hållbara produktion. Vi skapar detaljer som brodyr,
          screentryck och patchar för att matcha ditt varumärke med hållbara
          plagg i toppklass.
        </p>
      </div>
    </section>

    <section>
      <div class="videoWrapper">
        <div class="video">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/RAU-wPyTW1U?si=LpaxxBHa-5VjYJ7G"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 762 461"
          transform="rotate(30)"
        >
          <path
            d="M761.75 218.84c0 72.59-58.21 136.9-147.79 176.62-59.3 26.3-117.27 66.94-196.27 66.94s-210.85-47.16-270.15-73.46C57.96 349.23-.25 305.93-.25 233.34S2.34 81.94 91.92 42.22C151.22 15.92 323.6.41 402.61.41s152.05 15.52 211.35 41.81c89.58 39.72 147.79 104.04 147.79 176.62Z"
            style="fill: #e5eae4"
          />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 862 461">
          <path
            d="M761.75 218.84c0 72.59-58.21 136.9-147.79 176.62-59.3 26.3-117.27 66.94-196.27 66.94s-210.85-47.16-270.15-73.46C57.96 349.23-.25 305.93-.25 233.34S2.34 81.94 91.92 42.22C151.22 15.92 323.6.41 402.61.41s152.05 15.52 211.35 41.81c89.58 39.72 147.79 104.04 147.79 176.62Z"
            style="fill: #b4c3b2"
          />
        </svg>
      </div>
    </section>

    <%- include('partials/footer') %> <%- include('partials/chatbox') %>
    <script src="/static/script.js"></script>
  </body>
</html>
