<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Gröna Tryck är ett tryckeri som bryr sig om hållbarhet och miljön, läs mer om hur vi trycker på ett så hållbart sätt som möjligt"/>
    <title>Gröna Tryck - Tryck</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/popup.css" />
  </head>
  <header>
    <%- include('partials/navbar') %>
      <div class="hero">
        <img src="/static/images/Hero/100/webp/tryck.webp"
        srcset="/static/images/Hero/75/webp/tryck_75.webp 1279w,
                /static/images/Hero/100/webp/tryck.webp 1280w,
                /static/images/Hero/75/jpg/tryck_75.jpg 1279w,
                /static/images/Hero/100/jpg/tryck.jpg 1280w"
        sizes="(min-width: 1280px) 1280px, 100vw"
        alt="Tryck">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 40">
          <path d="M1 26.89S196.38 2.09 336 1.58c146.52-.53 239.05 20.15 385 25.31C861.03 31.85 930.91 0 1071.5 0S1441 26.89 1441 26.89V140H1V26.89Z" style="fill:#fff"/>
      </svg>
      </div>
  </header>
  <body>

    <section>
        <div class="progress-section">
            <a href="/hallbarhet">Hållbarhet</a> <span>/</span> <a href="/tryck">Tryck</a>
          </div>
        <div class="miljo-container">

            <div class="text-block">
                <h2 class="heading-m">Tryck</h2>
                <p class="body-text">
                    Vi var faktiskt först i Sverige då vi 2009 satte ftalatfri screenfärg som standard för alla våra tryck. Förutom screentryck jobbar vi både med brodyr, DTG och DTF. För hårda produkter trycker vi med tampotryck och lasergravyr. Vi gör vissa tryck själva och andra via partners i Sverige och utomlands.
                </p>
            </div>

            <div class="hallbarhet-accordions">
                <div class="hallbarhet-accordion">
                    <h2 class="hallbarhet-accordion-header" aria-expanded="false" aria-controls="content1">
                        Ftalatfria Screentryck
                    </h2>
                    <div class="hallbarhet-accordion-content" id="content1">
                        <div class="text-block">
                            <p class="body-text">
                                Enligt Sveriges miljökvalitetsmål en giftfri miljö ska nyproducerade varor, så långt det är möjligt, vara fria från ämnen som är reproduktionsstörande, det vill säga ämnen som stör förmågan till fortplantning. Vi använder tryckfärger helt fria från ftalater.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="hallbarhet-accordion">
                    <h2 class="hallbarhet-accordion-header" aria-expanded="false" aria-controls="content1">
                        Ecomyk transfer
                    </h2>
                    <div class="hallbarhet-accordion-content" id="content1">
                        <div class="text-block">
                            <p class="body-text">
                                PVC-och Ftalatfria CMYK Transfers
                            </p>
                            <div class="licenseLinks">
                                <a href="https://gronatryck.se/EcoCMYK-transfer.pdf" target="_blank">EcoCMYK Transfers</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hallbarhet-accordion">
                    <h2 class="hallbarhet-accordion-header" aria-expanded="false" aria-controls="content1">
                        Ftalaters hälsopåverkan:
                    </h2>
                    <div class="hallbarhet-accordion-content" id="content1">
                        <div class="text-block">
                            <h2 class="heading-s">Mjukgörande medel kan orsaka ADHD</h2>
                            <p class="body-text">
                                Mjukgörande medel som finns i allt från pvc-plast till parfym, kan skada oss redan under fosterstadiet. En ny studie visar nämligen att det finns ett tydligt samband mellan dessa ämnen, så kallade ftalater, och barn som utvecklar beteendestörningar. Och för första gången har forskare hittat belägg för att ftalater skadar barns neurologiska utveckling redan under fosterstadiet.
                                <br><br>
                                Ftalater är ett samlingsnamn för en grupp kemikalier med den speciella egenskapen att dom liknar kroppens egna ämnen och därför kan lura kroppen på olika sätt. “Det finns allt mer bevis för att ftalater skadar barn under alla deras utvecklingsstadier,” säger dr Stephanie Engel som lett studien om ADHD och ftalater. “Vi har hittat slående samband mellan ftalater som finns i vanliga hudvårdsprodukter och beteendestörningar, som aggressivitet och uppmärksamhetsproblem, hos barn. Det handlar alltså om samma typ av beteenden som ingår i diagnoser som ADHD.”
                                <br><br>
                                Forskare världen över har länge undersökt ftalater och dom misstänkta samband man sett mellan dessa så kallade hormonstörande ämnen och olika mänskliga sjukdomar och problem. Allt mer pekar mot att ftalaterna påverkar oss negativt, trots kemikalieindustrins försök att bevisa motsatsen. Idag har vissa ftalater förbjudits i leksaker för barn. Ftalater finns framförallt i pvc-plast, dvs i oerhört mycket av vad vi omges av dagligen.
                                <br><br>
                                Dessa mjukgörare finns även i nagellack, parfym, medicinsk utrustning, golvmaterial, mattor och mycket annat. Vi får i oss kemikalierna eftersom ftalater läcker ut ur plaster. Det gör att vi dagligen exponeras för ftalater. Vi får i oss dom via mat och dryck, genom hudkontakt och inandning. Hur stora mängder ftalater vi utsätts för kan man mäta genom bland annat urinprov.
                                <br><br>
                                I den här nya studien, som publiceras idag i nätupplagan av Environmental Health Perspectives, pekas alltså ännu ett riskområde ut; den neurologiska utvecklingen hos barn redan på fosterstadiet. Drygt 400 gravida kvinnor deltog i studien och urinprov togs på kvinnorna under graviditeten. Sedan följdes studien upp när kvinnornas barn var mellan fyra och nio år. Då visade det sig att mammorna till dom barn som senare utvecklade olika beteendestörningar som aggressioner och koncentrationssvårigheter, var dom kvinnor som haft högst halter ftalater i urinen under graviditeten. “Jag är inte förvånad över det här forskningsresultatet, säger Carl-Gustaf Bornehag, forskare vid Karlstads högskola. “Vi misstänker idag att ftalater påverkar oss när det gäller allt från övervikt och allergier till autism.
                                
                                <div class="licenseLinks">
                                    <a href="https://www.svt.se/2.108068/1.1865641/mjukgorande_medel_kan_orsaka_adhd" target="_blank">Källa</a>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="hallbarhet-accordion">
                    <h2 class="hallbarhet-accordion-header" aria-expanded="false" aria-controls="content1">
                        Ftalater i avloppet
                    </h2>
                    <div class="hallbarhet-accordion-content" id="content1">
                        <div class="text-block">
                            <h2 class="heading-s">Vad är miljögifter</h2>
                            <p class="body-text">
                                Miljögifter är de gifter som klassas som farliga för hälsan och miljön. Miljögifter finns i flera varor och kemikalier som vi människor köper hem varje dag. Miljögifter är kemikalier som EU klassar som särskilt farliga för miljö och hälsa. De är långlivade i miljön, kan lagras i kroppen och är giftiga. De kan orsaka cancer, skada arvsmassan eller fortplantningsförmågan och påverka hormonsystemet.
                            </p>
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">Var finns miljögifter?</h2>
                            <p class="body-text">
                                Miljögifterna finns i varor du köper hem och använder varje dag. Vi människor utsätts för flest miljögifter inomhus eftersom gifterna läcker ut till luften och samlas i dammet. En del miljögifter vädras ut. Andra hamnar i avloppet när vi sköljer ur dammtrasor och spolar ner skurvatten eller borstar tänderna, duschar och tvättar kläder.
                            </p>
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">Vilka är de viktigaste miljögifterna att få bort?</h2>
                            
                                <ul class="body-text">
                                  <li>Oktyl och nonylfenol. Alkylfenol/alkylfenoletoxylat (AP/APE) Finns bland annat finns i textilier.</li>
                                  <li>Triclosan är en bakteridödande kemikalie. Det finns i tandkräm, deodoranter och sportkläder.</li>
                                  <li>Silver är en bakteridödande kemikalie. Silver finns i kläder, klädimpregnering, skor, kylskåp, samt disk- och tvättmaskiner.</li>
                                  <li>Bromerade flamskyddsmedel. Finns i elektronik, möbler, textilier och byggnadsmaterial/skumplast.</li>
                                  <li>Ftalater (DEHP, DBP, BBP, DINP, DNOP och DIDP) används som mjukgörare i PVC-plast i byggmaterial, elektriska kablar, förpackningar, leksaker med mera. De används även i färg, gummiprodukter, lim och textilier.</li>
                                  <li>Polyfluorerande kemikalier (PFOS, PFOA) finns i arbetskläder, sportkläder, skor, impregneringsmedel, golvpolish och släckskum.</li>
                                </ul>
                              
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">Tar inte reningsverken hand om miljögifterna?</h2>
                            <p class="body-text">
                                Avloppsreningsverk är inte byggda för att ta hand om miljögifter. För att de ska klara av att ta hand om miljögifter krävs det ny och energikrävande teknik som i sin tur skulle innebära mer koldioxidutsläpp. Även om det utvecklas energisnålare reningstekniker så löser det inte problemen med miljögifter inomhus.
                            </p>
                            <div class="licenseLinks">
                                <a href="https://www.svensktvatten.se/vara-sakomraden/avlopp-och-miljo/uppstromsarbete/Om-uppstromsarbete/Om-miljogifter/" target="_blank">Källa</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hallbarhet-accordion">
                    <h2 class="hallbarhet-accordion-header" aria-expanded="false" aria-controls="content1">
                        Naturskyddsföreningen om ftalater
                    </h2>
                    <div class="hallbarhet-accordion-content" id="content1">
                        <div class="text-block">
                            <h2 class="heading-s">Naturskyddsföreningen lät 2008 analysera 20 t-tröjor för att se om de innehöll miljögifterna ftalater</h2>
                            <p class="body-text">
                                Flera tröjor innehöll ftalater, trots att ämnena finns med på Textilimportörernas lista över otillåtna kemikalier.
                                <br><br>
                                Ftalater används som mjukgörare i plast. I t-tröjorna som Naturskyddsföreningen analyserade finns ämnena i tröjornas tryck. Det finns olika ftalater och några av dem är klassade som hormonstörande och cancerogena.
                                <br><br>
                                – Negativa miljö- och hälsoegenskaper av ftalater är kända sedan länge. Därför är det oroande att textilföretagen inte har kontroll på vad importerade kläder innehåller, säger Mikael Karlsson, ordförande i Naturskyddsföreningen.
                                <br><br>
                                Den högsta halten av ftalaten DEHP var 22% av tryckets vikt, en mycket hög siffra. I flera t-tröjor fann Naturskyddsföreningen låga halter av ftalater.
                                <br><br>
                                – Låga värden är självklart bättre än höga, men vi menar att ftalater inte bör finnas i textil överhuvudtaget, säger Andreas Prevdonik, textilhandläggare på Naturskyddsföreningen.
                            </p>
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">Ftalater kan hamna i dammet</h2>
                            <p class="body-text">
                                Ftalaterna har många olika källor och når miljön och människor på flera sätt. En möjlig väg är att när kläder som innehåller ftalater slits, kommer ämnena ut i inomhusdammet. Damm som sedan hamnar i vår mat och som vi andas in. Ftalater är påvisat i höga halter i flera studier av inomhusdamm. Damm består till stor del av avnött material från textiler.
                                <br><br>
                                – Inomhus, där kemikalier inte bryts ner så mycket, kan miljögifter koncentreras i dammet. Nu är det upp till klädåterförsäljarna att ta sitt ansvar för att begränsa att vi dagligen exponeras för ftalater, säger Andreas Prevodnik.
                            </p>
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">Var finns ftalater?</h2>
                            <p class="body-text">
                                Ftalater började användas på 30-talet när PVC-industrin växte fram. Den helt dominerande användningen är som mjukgörare i plast och gummi. Det finns ftalater i produkter för golvbeläggning, tapeter, kabel, folie, vävplast och sjukvårdsmaterial. De kan också användas som i bindemedel i färg och lim. En del ftalater kan också användas till exempel som lösningsmedel i parfymer och bekämpningsmedel. I en undersökning som Naturskyddsföreningen gjorde 2002 fanns ftalater i 80 procent av de hygienprodukter som undersöktes (bland annat deodoranter och parfymer) utan att det framgick av innehållsförteckningen.
                            </p>
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">Miljö- och hälsoeffekter</h2>
                            <p class="body-text">
                                Ftalater lakas efter hand ur plasten. De är inte långlivade i naturen men eftersom de produceras i så stora mängder och är fettlösliga hittar man dem ändå i människa och naturen. Det har gjort att ftalater är en av de vanligaste föroreningarna i inomhusmiljö och ute i naturen. Många allvarliga hälsoeffekter kopplas till ftalater. Till de allvarligaste hör störningar i kroppens hormonsystem, som kan skada könsutveckling och fertilitet, och leda till cancer. Även allergi, astma, fetma och diabetes kan i vissa fall härledas exponering för ftalater.
                            </p>
                            <div class="licenseLinks">
                                <a href="https://www.naturskyddsforeningen.se/natur-och-miljo/miljogifter/produktundersokningar/tryck-pa-trojor/" target="_blank">Källa</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hallbarhet-accordion">
                    <h2 class="hallbarhet-accordion-header" aria-expanded="false" aria-controls="content1">
                        Intervju med Gunnar Selstam
                    </h2>
                    <div class="hallbarhet-accordion-content" id="content1">
                        <div class="text-block">
                            <h2 class="heading-s">Om ftalater för Gröna Tryck</h2>
                            <p class="body-text">
                                Vi översköljs idag av information om farliga och riskfyllda miljögifter och det är inte lätt att veta vad man skall göra för att skydda sig eller ens vilka av dessa substanser som egentligen är farliga. Ftalater, alltså de som på svenska kallas plastmjukgörare, tillhör den gruppen där det kommer olika rapporter. Ftalater har ganska låg allmän giftighet, men har vissa specifika effekter. Problemet är att ftalater används alltmer och alltmer. Idag tillverkas ett kilo (!!!) per person och år i Västeuropa, Nordamerika och Östasien. Ett annat problem är att de bryts ner så långsamt. Det tar minst 10 000 år för alla ftalater i ett nybyggt litet hus att brytas ner. Problemet börjar likna kärnkraftsproblemet med restprodukter vi aldrig blir av med.
                                <br><br>
                                Min forskning visar att ftalater specifikt påverkar generna i testikelns och äggstockens celler. Ftalaterna stimulerar generna och enzymerna ökar och mer av manligt (testosteron) och kvinnliga könshormon (progesteron och östrogener) bildas. Ftalaterna gör det i låga koncentrationer och alltså i koncentrationer vi utsätts för om man har ftalater i omgivningen. Det här kan ha betydelse för till exempel pubertetsutveckling. Studier från Västindien visade att flickor som gick tidigt in i puberteten hade höga halter ftalater i blodet, vilket kan förklaras perfekt av våra resultat. Andra forskare har till exempel funnit effekter på utvecklingen av könsorgan under fostertiden (hämning av könshormon, alltså omvänd effekt), effekter på utvecklingen (ökande missbildningar) etc etc. (Nedan ges två av mina referenser om man vill läsa mer.)
                                <br><br>
                                Det som är bra med ftalater är att man kan undvika att få i sig det. Ett första steg är att inte ha på sig kläder och hantera saker med ftalater i sig. Detta är kanske viktigast. Nästa steg är att inte ha ftalater i bostaden eller på arbetet. Detta är betydligt svårare. Bygger man ett hus i naturmaterial (trä, sten, tegel och även plåt) finns inga ftalater. Största skillnaden i en bostad är mellan linoleummattor (som kan innehålla flera kilo, dvs 1-5% procent ftalater) och ett rent trägolv (0% ftalater).
                                <br><br>
                                Jag hoppas att företag som Gröna tryck uppmärksammas och att det arbete som läggs ner på att hitta och tillverka giftfria produkter är ett av stegen mot en normal och giftfri miljö. Jag rekommenderar därför gärna företag som Gröna Tryck.
                            </p>
                            <div class="body-text">
                                <p class="body-text-s">
                                    1 November 2011 <br>
                                    Gunnar Selstam, Prof <br>
                                    Institutionen för molekylärbiologi <br>
                                    Umeå universitet
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <%- include('partials/footer') %>
    <%- include('partials/chatbox') %>
    <script src="/static/swiper.js"></script>
      <script src="/static/script.js"></script>

    </body>
  </html>