<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Gröna Tryck är ett tryckeri som bryr sig om hållbarhet och miljön, läs mer om våra villkor" />
    <title>Gröna Tryck - Villkor</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/swiper.css" />
    <link rel="stylesheet" href="/static/popup.css" />
  </head>
  <header>
    <%- include('partials/navbar') %>
      <div class="hero">
        <img src="/static/images/Hero/100/webp/villkor.webp"
        srcset="/static/images/Hero/75/webp/villkor_75.webp 1279w,
                /static/images/Hero/100/webp/villkor.webp 1280w,
                /static/images/Hero/75/jpg/villkor_75.jpg 1279w,
                /static/images/Hero/100/jpg/villkor.jpg 1280w"
        sizes="(min-width: 1280px) 1280px, 100vw"
        alt="Arbetsvillkor">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 40">
          <path d="M1 26.89S196.38 2.09 336 1.58c146.52-.53 239.05 20.15 385 25.31C861.03 31.85 930.91 0 1071.5 0S1441 26.89 1441 26.89V140H1V26.89Z" style="fill:#fff"/>
      </svg>
      </div>
  </header>
  <body>

    <section>
        <div class="progress-section">
            <a href="/hallbarhet">Hållbarhet</a> <span>/</span> <a href="/villkor">Arbetsvillkor</a>
          </div>
        <div class="miljo-container">

            <div class="text-block">
                <h2 class="heading-m">Arbetsvillkor</h2>
                <p class="body-text">Hur kan vi garantera att våra produkter är rättvist producerade? 
                  Vi jobbar endast med oberoende kontrollerade kläder med kända certifikat. De handlar t.ex. om levnadslön istället för minimumlön, fria fackföreningar, försäkringar och arbetstrygghet. Om ditt barn är sjukt och måste stanna hemma så ska du ha rätt till VAB. Arbetsplatserna ska tydligt jobba med jämställdhet och säkerhet för alla anställda. Gröna Trycks vision är att förändra textilbranchen inom promotion och att alla importerade profilkläder ska vara oberoende kontrollerade och leva upp till satta minimumkrav för arbetsvillkor.</p>
            </div>

            <div class="hallbarhet-accordions">
                <div class="hallbarhet-accordion">
                    <h2 class="hallbarhet-accordion-header" aria-expanded="false" aria-controls="content1">
                        Certifikat
                    </h2>
                    <div class="hallbarhet-accordion-content" id="content1">
                        <div class="text-block">
                            <h2 class="heading-s">Fairtrade</h2>
                            <p class="body-text">
                              Fairtrade är en oberoende produktmärkning. Alla inblandade parter måste uppfylla relevanta ILO-konventioner, produktion & handel ska ske enligt internationell standard för rättvis handel. Kläder och tyger gjorda av Fairtrade certifierad bomull är en garanti på att jordbrukarna fått ett minimipris för sin bomull som täcker kostnad för hållbar produktion, högre pris om deras bomull är ekologisk. Produkter tillverkade med Fairtrade certifierad bomull levererar budskapet; att välja produkter med Fairtrade certifierad bomull bidrar till bekämpningen av fattigdom och hållbar utveckling för några av världens mest marginaliserade bönder.
                            </p>
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">Fair Wear Foundation</h2>
                            <p class="body-text">
                              Fair Wear Foundation (FWF) är ett internationellt kontrollsystem som är inriktat på att förbättra arbetsförhållandena inom textilindustrin världen över. FWF är ett flerpartsinitiativ där företag, fack och organisationer gått samman för att gemensamt hitta hållbara lösningar. Ett flerpartsinitiativ är menat som ett verktyg och forum för att styrka respektive medlemsföretags etikarbete. De företag som är anslutna till FWF ställer sig bakom organisationens uppförandekod och accepterar därmed att FWF får kontrollera förhållandena i deras fabriker. Ett företag som är medlem i FWF visar att de bryr sig och tar ansvar.
                            </p>
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">Bluesign</h2>
                            <p class="body-text">
                              Bluesign är ett globalt verktyg för alla delar inom textilindustrins produktionsled. För att försäkra sig om att produkterna är miljövänliga och utan hälsofarliga gifter, så hjälper Bluesigns standard med hela designprocessen för att garantera en miljövänlig slutprodukt. Bluesign stanard är inget testinstitut utan är med redan i början av produktionen för att kontrollera att varje steg är gjort med rätt hänsyn. Från råmaterial till underleverantörer, till textiltillverkare och återförsäljare ska alla möta deras kriterier.
                            </p>
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">Global Recycle Standard</h2>
                            <p class="body-text">
                              Amfori är en plattform för producenter och beställare som är till för att göra det enklare att följa tillverkningen och göra processen mer transparant. Det gör det möjligt för Amfori och beställare att ställa krav och kontrollera att deras uppförelsekod efterföljs. Uppförelsekoden handlar om att säkerställa goda arbetsvillkor i leverantörskedjan och innefattar: <br><br>
                              <ul class="body-text">
                                <li>United Nations (UN) Universal Declaration of Human Rights</li>
                                <li>International Labour Organization (ILO) Conventions and Recommendations</li>
                                <li>UN Guiding Principles on Business and Human Rights (UNGP)</li>
                                <li>OECD Guidelines for Multinational Enterprises</li>
                                <li>UN Children’s Rights and Business Principles</li>
                                <li>Gender Dimensions of the UN Guiding Principles on Business and Human Rights</li>
                              </ul>
                            </p>
                        </div>
                        <div class="text-block">
                            <h2 class="heading-s">SA8000</h2>
                            <p class="body-text">
                              SA8000 Standard innehåller transparenta, mätbara och verifierbara krav för att genomföra och certifiera företagets prestationer. Föreningsfrihet och rätt till kollektiva förhandlingar. Skyddar arbetstagarnas rätt att bilda och ansluta sig till fackföreningar och att förhandla kollektivt utan rädsla för repressalier. Maximalt 48 timmars arbetsvecka, med minst en ledig dag per vecka och ett tak på 12 timmars övertid per vecka som ersätts med en premie. Ingen diskriminering på grund av ras, kast, nationellt ursprung, religion, funktionshinder, kön, sexuell läggning, medlemskap i fackförening eller politisk tillhörighet. Lönerna måste ge en inkomst som räcker till för att täcka grundläggande behov, med åtminstone en viss fritidsinkomst.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="hallbarhet-accordion">
                    <h2 class="hallbarhet-accordion-header" aria-expanded="false" aria-controls="content2">
                        Rapporter och Licenser
                    </h2>
                    <div class="hallbarhet-accordion-content" id="content3">
                        <div class="licenseLinks">
                            <a href="https://usercontent.one/wp/gronatryck.se/wp-content/uploads/2020/01/Brand-Performance-Check.pdf?media=1676472281" target="_blank">Salvage, Continental rapport 2019</a>
                            <a href="https://gronatryck.se/Fairtrade_License.pdf" target="_blank">Neutral Fairtrade</a>
                            <a href="https://usercontent.one/wp/gronatryck.se/wp-content/uploads/2020/01/stanley-and-stella-s-a-performance-check_Final_for_publishing.pdf?media=1676472281" target="_blank">StSt rapport 2018</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <%- include('partials/footer') %>
    <%- include('partials/chatbox') %>
      <script src="/static/swiper.js"></script>
      <script src="/static/script.js"></script>
    </body>
  </html>